{% extends 'base.html' %}
{% block container %}
<div class="container-fluid">
    <div>
        <h2 class="text-center">FINANCEIRO</h2>
        <br>
        <form method="post" class="needs-validation" novalidate>
            {% csrf_token %}
            <div class="form-row">
                <div class="col-md-6 mb-3">
                    <label for="fazenda">FAZENDA</label>
                    {{ form.fazenda }}
                </div>
            </div>
            <div id="items-container">
                <div class="form-row item">
                    <div class="col-md-2 mb-3">
                        <label for="data">DATA</label>
                        <input type="date" name="data[]" class="form-control" required>
                        <div class="invalid-feedback">
                            Por favor, forneça uma data.
                        </div>
                    </div>
                    <div class="col-md-2 mb-3">
                        <label for="nr_nota">NF-e</label>
                        <input type="text" name="nr_nota[]" class="form-control" value="0" required>
                        <div class="invalid-feedback">
                            Por favor, forneça um número de nota fiscal.
                        </div>
                    </div>
                    <div class="col-md-3 mb-3">
                        <label for="descricao">DESCRIÇÃO</label>
                        <input type="text" name="descricao[]" class="form-control">
                    </div>
                    <div class="col-md-2 mb-3">
                        <label for="entrada">ENTRADA</label>
                        <input style="appearance: textfield;" type="number" step="0.01" name="entrada[]" class="form-control" value="0.00" placeholder="00,00">
                        <div class="invalid-feedback">
                            Por favor, forneça um valor de entrada.
                        </div>
                    </div>
                    <div class="col-md-2 mb-3">
                        <label for="saida">SAÍDA</label>
                        <input style="appearance: textfield;" type="number" step="0.01" name="saida[]" class="form-control" value="0.00" required placeholder="00,00"> 
                        <div class="invalid-feedback">
                            Por favor, forneça um valor de saída.
                        </div>
                    </div>
                    <div class="col-md-1 mb-3 d-flex align-items-end">
                        <button type="button" class="btn btn-danger remove-item btn-sm">Remover</button>
                    </div>
                </div>
            </div>
            <button type="button" class="btn btn-success btn-sm" id="add-item">Adicionar Item</button>
            <br><br>
            <button class="btn btn-primary" type="submit">Enviar</button>
        </form>
    </div>
</div>

<script>
document.addEventListener('DOMContentLoaded', function() {
    var addItemButton = document.getElementById('add-item');
    var itemsContainer = document.getElementById('items-container');

    function addRemoveEvent(button) {
        button.addEventListener('click', function() {
            button.parentElement.parentElement.remove();
        });
    }

    // Função para limpar o valor do campo ao clicar
    function clearOnClick(input) {
        input.addEventListener('focus', function() {
            if (input.value === '0.00') {
                input.value = '';
            }
        });

        input.addEventListener('blur', function() {
            if (input.value === '') {
                input.value = '0.00';
            }
        });
    }

    addItemButton.addEventListener('click', function() {
        var newItem = itemsContainer.querySelector('.item').cloneNode(true);
        newItem.querySelectorAll('input').forEach(input => {
            if (input.name === 'entrada[]' || input.name === 'saida[]') {
                input.value = '0.00'; // Preenche com 0.00
                clearOnClick(input); // Adiciona o evento de limpar ao clicar
            } else {
                input.value = ''; // Limpa outros campos
            }
        });
        itemsContainer.appendChild(newItem);
        addRemoveEvent(newItem.querySelector('.remove-item'));
    });

    itemsContainer.querySelectorAll('.remove-item').forEach(addRemoveEvent);

    // Adicionando a funcionalidade de limpar ao clicar nos campos "entrada" e "saida" existentes
    itemsContainer.querySelectorAll('input[name="entrada[]"], input[name="saida[]"]').forEach(clearOnClick);

    // Adicionando validação de formulário do Bootstrap
    (function() {
        'use strict';
        window.addEventListener('load', function() {
            var forms = document.getElementsByClassName('needs-validation');
            Array.prototype.filter.call(forms, function(form) {
                form.addEventListener('submit', function(event) {
                    if (form.checkValidity() === false) {
                        event.preventDefault();
                        event.stopPropagation();
                    }
                    form.classList.add('was-validated');
                }, false);
            });
        }, false);
    })();
});
</script>


{% endblock %}
